@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(222, 217, 217);
    width: 280px;
    font-family: 'Fira Sans', 'sans-serif';
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: rgb(142, 223, 147); */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: rgb(105, 222, 70); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 65px;
}

.name{
    font-size: 50px;
    font-family: 'Fira Sans', 'sans-serif';
}

.about{
    font-size: 40px;
}
.moreabout{
    font-size: 29px;
    margin-top: 23px;
    font-family: 'Fira Sans', 'sans-serif';
}
.button{
    margin-top: 34px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    max-width: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
}
.btn a{
text-decoration: none;
}

.devPic img{
    width: 48vh;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', 'sans-serif';
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
}
.contactform form div{
    padding: 10px 0;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;

}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}